.main-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;

    font-size: 32px;

    width: 50%;
    margin: 20px auto 0 auto;
}
.main-form input {
    width: 100%;
}

.register-button {
    width: 70%;
}

.already-auth-button {
    margin-top: 50px;
}