.step-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto 0 auto;
}

.inputs-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    gap: 30px;
}

.step-info {
    background-color: #3B3F53;
    width: 45%;
    padding: 10px 20px 10px 20px;
    border-radius: 32px;

    font-size: 24px;
}
.step-info p {
    margin-top: 0;
}

.step-info-title {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}

.input-form {
    background-color: #3B3F53;
    padding: 10px;
    min-height: 30%;
    font-size: 24px;
}

.input-inside-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-button-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}