.step-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.inputs-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}

.step-info {
    background-color: #3B3F53;
    width: 45%;
    padding: 10px 20px 10px 20px;
    border-radius: 32px;
}
.step-info p {
    margin-top: 0;
}

.input-form {
    background-color: #3B3F53;
    padding: 10px;
}

.input-inside-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-inside-flex input {
    max-width: 60%;
}

.save-button-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}