.character-page-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 40px auto 0 auto;
}

.character-sheet {
    background-color: #3B3F53;
    
    padding: 20px;

    width: 60%;
    height: fit-content;
}

.title {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
}

.page-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 20px auto;;
}
.page-selector p {
    font-size: 24px;
    margin: 0;
}

.buttons-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 80px;
}

.character-sheet-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.character-sheet-entry p {
    font-size: 24px;
    background-color: #303342;
    padding: 10px;
    border-radius: 10%;
}

.character-sheet-flex {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.attribute-flex {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}