.attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid;
    border-radius: 20%;

    background-color: #303342;

    padding: 5px;

    aspect-ratio: 1/1;
}

.attribute-modifier {
    font-size: 32px;
}

.item-card-flex {
    display: flex;
    flex-direction: row;

    gap: 20px;

    width: 100%;
}

.item-card {
    background-color: #303342;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
}