/* General */

body {
    margin: 0;
    background-color: #2D3142;
    color: #FFFFFF;
    font-family: "Kelly Slab", sans-serif;
}

footer {
    background-color: #3B3F53;
    margin-top: auto;
    font-size: 32px;
    padding: 20px;
    width: auto;
}

header {
    background-color: #3B3F53;
    margin-top: auto;
    @media (min-width: 850px) {
        font-size: 32px;
    }
    @media (max-width: 850px) {
        font-size: 20px;
    }
    padding: 30px;
    width: auto;
}

.horizontal-flexbox {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
}

.center-flex {
    justify-content: center;
}

.center-screen {
    position: absolute;
    top: 40%;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
}

/* Интерфейс */

button {
    background-color: #2D3142;
    color: #FFFFFF;
    padding: 5px;
    font-size: large;
}

input {
    max-width: 60%;
    background: transparent;
    color: white;
    font-family: "Kelly slab";
}

textarea {
    resize: none;
    background: transparent;
    color: white;
    
    font-family: "Kelly slab";
    font-size: 18px;

    width: 50%;
}

select {
    background-color: #2D3142;
    color: white;

    font-family: "Kelly slab";
    font-size: 18px;
    width: 50%;
}

.page-link {
    text-decoration: none;
    color: #FFFFFF;
}

.accent-button {
    background-color: #33417D;
    border: 0;
    padding: 10px;
}

.accent-button:hover {
    transform: scale(1.1);
}