
/* Общие */
body {
    margin: 0;
    background-color: #2D3142;
    color: #FFFFFF;
    font-family: "Kelly Slab", sans-serif;
}

footer {
    background-color: #3B3F53;
    margin-top: auto;
    font-size: 32px;
    padding: 20px;
    width: auto;
}

header {
    background-color: #3B3F53;
    margin-top: auto;
    font-size: 32px;
    padding: 30px;
    width: auto;
}

/* Лист персонажа */

#character-sheet {
    background-color: #3B3F53;
    padding: 20px;
    padding-top: 10px;
    margin: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
#character-sheet-title {
    font-size: 30px;
    align-self: center;
    margin-bottom: 30px;
}


#character-meta {
    display: flex;   
}


.character-name {
    background-color: #222536;
    padding: 5px;
    padding-top: 15px;
    font-size: 30px;
    width: 20%;
}
.character-name #info {
    border-top: solid #3E414D;
    border-width: 2px;
    font-size: 20px;
}


#character-about {
    background-color: #222536;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 60%;
}
#character-about-row {
    display: flex;
    flex-direction: row;
}


.character-info {
    background-color: #222536;
    padding: 5px;
    font-size: 20px;
    width: 60%;
}
.character-info #info {
    border-top: solid #3E414D;
    border-width: 2px;
}
.character-info #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}