/* General */

body {
    margin: 0;
    background-color: #2D3142;
    color: #FFFFFF;
    font-family: "Kelly Slab", sans-serif;
}

footer {
    background-color: #3B3F53;
    margin-top: auto;
    font-size: 32px;
    padding: 20px;
    width: auto;
}

header {
    background-color: #3B3F53;
    margin-top: auto;
    font-size: 32px;
    padding: 30px;
    width: auto;
}

.horizontal-flexbox {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
}

.center-flex {
    justify-content: center;
}

.center-screen {
    position: absolute;
    top: 40%;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Интерфейс */

button {
    background-color: #2D3142;
    color: #FFFFFF;
    padding: 5px;
    font-size: large;
}